p 
{
font: 20px tahoma;
color: white;
}

#mainDiv
{
background: skyblue;
width: 350px;
margin: 20px auto;
box-shadow: 10px 10px 50px gray;
padding-top: 10px;
padding-bottom: 20px;
}

input[type="submit"]
{
width: 50px;
height: 30px;
opacity: 0.8;// opacity means transparency
border: 0px;
}
input[type="button"], input[type="reset"]
{
width: 50px;
height: 50px;
opacity: 0.8;
border: 0px;
}

input[type="text"]
{
border: 0px;
outline: none;
opacity: none;
height: 30px;
}

input:hover
{
opacity: 1;
}
